// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hi-user {
  color: green;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16px;
}